<!DOCTYPE html>
<!-- <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">会报错-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
  <h2>用户详细信息</h2>
  <table border="1" width="200px">
  	<tr>
  		<td>用户id</td>
  		<td th:text="${user.id}">pppppppp</td>
  	</tr>
  	<tr>
  		<td>用户名</td>
  		<!-- th:text="${user.name}"中的东西会覆盖后面的“用户名” -->
  		<td th:text="${user.name}">用户名</td>
  	</tr>
  	<tr>
		<td>年龄</td>		  		
		<td th:text="${user.age}">年龄</td>  		
  	</tr>
  	<tr>
  		<td>地址</td>
  		<td th:text="${user.address}">地址</td>
  	</tr>
  </table>
</body>
</html>